export ADDR=":8080"
export DB_ADDR="postgresql://admin:adminpassword@localhost:54321/social?sslmode=disable"
export DB_MIGRATOR_ADDR="postgresql://admin:adminpassword@localhost:54321/social?sslmode=disable"